<%- include('partials/html-head') %>
<%- include('partials/html-navbar') %>
<div class="container mt-4">
  <h1>try-post-form</h1>
  <form method="post" enctype="application/x-www-form-urlencoded">
    <div class="mb-3">
      <label class="form-label">電子郵箱</label>
      <input type="email" class="form-control" name="email"
             value="<%= locals.email || '' %>" />
    </div>
    <div class="mb-3">
      <label class="form-label">密碼</label>
      <input type="password" class="form-control" name="password" />
    </div>
    <button class="btn btn-primary">送出</button>
  </form>
</div>
<%- include('partials/html-scripts') %>
<%- include('partials/html-tail') %>
