<!-- 分頁導航 -->
<% if (totalPages > 1) { %>
<nav class="mt-3">
  <ul class="pagination pagination-sm justify-content-center">
    <!-- 第一頁 -->
    <li class="page-item <%= page==1 ? 'disabled' : '' %>">
      <a class="page-link" href="?<%- objToUrlencoded({...query, page: 1}) %>">
        <i class="fa-solid fa-angles-left"></i>
      </a>
    </li>

    <!-- 上一頁 -->
    <li class="page-item <%= page==1 ? 'disabled' : '' %>">
      <a class="page-link" href="?<%- objToUrlencoded({...query, page: page-1}) %>">
        <i class="fa-solid fa-angle-left"></i>
      </a>
    </li>

    <!-- 頁碼循環 -->
    <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ %>
      <li class="page-item <%= page==i ? 'active' : '' %>">
        <a class="page-link" href="?<%- objToUrlencoded({...query, page: i}) %>"><%= i %></a>
      </li>
    <% } %>

    <!-- 下一頁 -->
    <li class="page-item <%= page==totalPages ? 'disabled' : '' %>">
      <a class="page-link" href="?<%- objToUrlencoded({...query, page: page+1}) %>">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </li>

    <!-- 最後一頁 -->
    <li class="page-item <%= page==totalPages ? 'disabled' : '' %>">
      <a class="page-link" href="?<%- objToUrlencoded({...query, page: totalPages}) %>">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </li>
  </ul>
</nav>
<% } %>
